[Unit]
Description=Start VT Server, attempt 2
Wants=mongodb.service
After=mongodb.service

[Service]
ExecStart=/home/tomw/.nvm/versions/node/v9.8.0/bin/node /var/www/apps/vt-server/src/server.js
Restart=always
User=tomw

[Install]
WantedBy=multi-user.target

